<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auditoriafirst">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".shared.UsuarioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuditoriaFirst"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".OcultosActivity"
            android:exported="false" />

        <activity
            android:name=".AgregarProdDetallesActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarProdActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarCategoriaActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarNegocioActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriaProductoActivity"
            android:exported="false" />
        <activity
            android:name=".NegocioCategoria"
            android:exported="false" />
        <activity
            android:name=".NegocioDetalle"
            android:exported="false" />
        <activity
            android:name=".negocio"
            android:exported="false" />
        <activity
            android:name=".medicion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>